*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: #333333;
    background: -webkit-linear-gradient(to right, #8c8c8c, #2e2e2e);
    background: linear-gradient(to right, #8c8c8c, #2e2e2e);
    height: 350px;
    width: 600px;
    border-radius: 12px;
    position: relative;
}

img{
    height: 400px;
    position: absolute;
    bottom: 0;
    transform: translate(65%);
    z-index: 1;
    transition: .5s;
}

.container:hover img{
    transform: translate(385px,-40px) scale(1.2);
}
.content{
    position: relative;
    width: 80%;
    top: 5%;
    left: 1.5%;
    color: mintcream;
    transform: translate(40%);
    opacity: 0;
    transition: .5s;
}

.container:hover .content{
    opacity: 1;
    transform: translate(0);
}
.content p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-family: 'Nova Square', sans-serif;
}

h1{
    font-weight: 800;
    font-size: 2.4rem;
    font-family: 'Nova Square', sans-serif;
}
h4{
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Nova Square', sans-serif;
}

@media (max-width: 991px){
    img{
        left: 50%;
        transform: translate(-25%);
    }
    .container{
        width: auto;
        max-width: 600px;
        position: relative;
        transition: .5s;
        margin: 2%;
    }

    .container:hover{
        height: 600px;
    }

    .container:hover img{
        transform: translate(-140px,0%);
    }
    .content{
        width: 100%;
        left: 0;
        padding: 20px;
        top: 0;
        transform: translate(0);
    }
}

@media (max-width: 420px){
    .container:hover img{
        height: 50%;
        transform: translate(-100px,0%);
    }
}